################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/ClassPracticeOld
/Blazor.Startup.Example/.vs
/BlazorApp1/.vs
/HelloWPF.DotNet7/.vs
