################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/ClassPracticeOld
/Blazor.Startup.Example/.vs
/BlazorApp1/.vs
/HelloWPF.DotNet7/.vs
/ConsoleAppSol/ConsoleAppSol.sln
/ChangeFrameworkDotNet.ps1
/CompileSlnx.ps1
/ConvertSlnToSlnx.ps1
/DeleteAllBinAndObjFolders.ps1
